<html>
  <head>
    <title>Booty Builder</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  </head>
<body>
<div class = "image overlay">
  
  <!-- navigation bar -->
  <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a href="#" class="brand-logo brand-name">Booty Builder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Search</a></li>
        <li><a href="collapsible.html">Signout</a></li>
      </ul>
    </div>
  </nav>

  <!-- Welcome Text -->
  <h1 id="site-title">Welcome Back.</h1>

  <!-- Login Form -->
  <div id="login"> 
    <%= form_tag sessions_path do %> 
      <%= label_tag :email %> 
      <%= text_field_tag :email, params[:email] %> 
      <%= label_tag :password %> 
      <%= text_field_tag :password, params[:password] %> 

      <%= submit_tag "Login", class: "login-button" %> 
  </div>
    <% end %> 
  </div> 
</div>
     
</body>
</html>



