<!-- navbar -->
<nav>
  <div class="nav-wrapper blue-grey darken-2">
    <a href="#" class="brand-logo">Booty Builder</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Home', user_path(current_user) %></li>
      <li><%= link_to 'Explore', photos_path %></li>  
      <li><%= link_to 'Search', users_path %></li>
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    </ul>
  </div>
</nav> <!-- end of navbar -->

<div class="photo-banner">
 <img class="photo-index" src="images/jen_glute.jpg"/>
</div>

<!-- photo feed content -->
<div class="content">
  <h4 class="feed-text center-align">Photo Gallery</h4>
  <ul id="feed-box">
    <% @photos.each do |photo| %> 
      <li>
        <div class="photo-wrapper">
          <div class="photo">
            <%= link_to image_tag(photo.image.url(:medium)), photo_path(photo.id), class: "photo-gallery z-depth-2" %> 
            <h6 class="caption-photo z-depth-1"><%= photo.content %></h6> 
          
          </div>
          <div class="text bottom"><h6 class="caption-photo"></h6></div>
        </div>
      </li>
    <% end %> 
  </ul>
</div>
<!-- end of the photo feed -->

<!-- keeps the footer on the bottom -->
<div class="clear-fix"></div>


<!-- footer content -->
<footer class="page-footer black">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Booty Builder</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col s12">
        <h5 class="white-text">Contact Us</h5>
      
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
     Copyright 2015 © Booty Builder
      <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>